DB_TYPE=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_DATABASE=tokenae_scan
# shouldn't be used in production - otherwise you can lose production data.
DB_SYNC=true

REDIS_HOST=localhost
REDIS_PORT=6379

# ae_uat, ae_mainnet
AE_NETWORK_ID=ae_mainnet